* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
    background: linear-gradient(to right, #eef2f3, #c9d5e1); /* Gradient requirement */
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.product-grid {
    width: 100%;
    overflow: hidden; 
}

.mainBox{
    width: 23%; 
    float: left; 
    background: white;
    border: 1px solid #eee;
    margin: 1%;
    padding: 15px;
    box-sizing: border-box; 
    position: relative;
    border-radius:8px;
}

.product-img {
    width: 100%;
    height: 140px;
    object-fit: contain;
    margin-bottom: 10px;
}